<div class="container">
    <div class="row">
        <div class="col-sx-12">
            <h3>I'm in the AppComponent</h3>
            <hr>
            <app-server-t></app-server-t>
            <!-- <div app-server-t></div> -->
            <!-- <div class="app-server-t"></div> -->
        </div>
    </div>
</div>

