<p>The Server Component</p>
<!-- / * 1) use {{}} to convert everthing and output properties as string
         2) styling elements dynamically with ngStyle  */ -->
<P [ngStyle]="{backgroundColor: getColor()}">{{ 'Server' }} with Id {{ serverId }} is  {{ getServerStatus() }}.</P>