<label>Server Name</label>
<!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"> -->

<!-- /* two-way databinding*/ -->
<input
    type="text"
    class="form-control"
   [(ngModel)]="serverName">
<!-- <p>{{ serverName }}</p> -->

<!-- / * use []="" to bind HTML element properties */ -->
<button class="btn btn-primary" 
    [disabled]="!allowNewServer"
    (click)="onCreateServer()">Add Server
</button>
<!-- <p [innerText]="allowNewServer">{{ allowNewServer }}</p> -->
<!-- /* binding the click event and execute onCreateServer method */ -->
<!-- <P>{{ serverCreationStatus }}</P> -->

<!-- /* using ngIf and else to output data conditionally */ -->
<P *ngIf="serverCrested; else noServer"> Server was created, server name is {{ serverName }}</P>
<ng-template #noServer>
     <p>No server was created!</p>
</ng-template>

<app-server></app-server>
<app-server></app-server>
